[Unit]
Description=i3lock on suspend
Before=sleep.target

[Service]
User=skymandr
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/skymandr/.config/i3/scripts/blurlock 0

[Install]
WantedBy=sleep.target
